*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

.container{
    background-color: black;
    padding: 5px;
    margin: none;
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: cnter;

}

.item {
    background:url('../pexels-lukas-298673.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 15px;
    padding:20px; 
    margin: 4px; 
    flex: 1;
    
}

.item-1{
 height: 60px;
}

.item-2{
  height: 700px
}

.item-3{
  height:600px;
}

.item-4{
 height:600px;
}

.item-5{
  height: 20px;;

}

/* item-1 */

/* heading-1 */

@keyframes slideInUp {
    100% {
        transition: translateX(10px);
    }
    0% {
        transform: translateY(0);
    }
}

.heading-1{
    font-family: sans-serif;
    font-size: 35px;
    color: black;
    margin: -13px;
    animation-name: slideiInUp;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}



/* navbar */

.h-n{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

ul{
    position:relative;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.nav-link{
  text-decoration: none;
  color: white;
  padding: 11px;
  font-family: sans-serif;
  transition: transform 0.3s ease-in 0s;
}

.nav-link:hover{
    transform:rotateY(-10px);
    background-color: white;
    color: rgb(60, 247, 60);
    border-radius: 25px;
}

.btn-s{
    background-color: black;
    color: rgb(60, 247, 60);
    border: 1px solid rgb(60, 247, 60);
    width: 80px;
}

/* item-2 */

.pic-para{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:max-content;


}



.reveal-btn{
    color: black;
    background-color: rgb(60, 247, 60);
    border: 2px solid white;
    border-radius: 25px;
    width: 100px;
    font-size: 20px;
}




/* JavaScript added to item-2 contents */
.hidden-content{
    display: none;
    font-family: sans-serif;
    font-size: xx-small;
    color: black;
}

.hidden-content.reveal-btn {
    display: block;
    border: none;
    padding: 5px;
    background-color: transparent ;
}